## Intro to Python 
### Strings

#### 1. Defining strings
Strings are arrays of characters, which allow us to do things like creating, slicing, modifying, etc. <br>
The define strings in python, we use either single quotation marks or double quotation marks surround the text body.

In [3]:
# single line string
"Hello"
'90'
"That's ok"

"That's ok"

In [4]:
# single line string - display its literal
print('Hello')
print("90.0")
print('ภาษาไทยก็อ่านได้')
print('ภาษาเยอรมันก็อ่านได้: Straße แปลว่า ถนน')

Hello
90.0
ภาษาไทยก็อ่านได้
ภาษาเยอรมันก็อ่านได้: Straße แปลว่า ถนน

In [5]:
# single line string assigment
s1 = 'Hey, my name is Python'
print(s1)

Hey, my name is Python

In [6]:
# multiline string
s2 = """This is line 1
This is line 2
This is line 3"""

print(s2)

This is line 1
This is line 2
This is line 3

#### 2. Strings are Arrays!
So you can slice them using index with a similar logic lists slicing.

In [7]:
s3 = 'community'

In [8]:
# measure length
len(s3)

9

In [9]:
# indexing
print(s3[0]) # first character
print(s3[-1]) # last character
print(s3[3]) # 4-th characer

c
y
m

In [10]:
# slicing 
print(s3[0:2]) # 1st - 2nd characters
print(s3[3:]) # 4th - last characters
print(s3[-3:-1]) # negative slicing: 3rd last - 1st last characters
print(s3[-3: ]) # negative slicing: 3rd last - last characters

co
munity
it
ity

In [11]:
# slice and then store it as a new string variable
sliced = s3[:3]
sliced

'com'

In [12]:
# ภาษาไทย
s4 = 'ลองกับภาษาไทยบ้าง'
print(s4[3:6])

กับ

Also, you can check if an expression presents in the text.

In [13]:
print('ไทย' in s4)
print('เกาหลี' in s4)
print('c' in s3) 
print(('c' in s3) and ('d' in s3)) 
print(('c' in s3) or ('d' in s3))

True
False
True
False
True

In [14]:
s3

'community'

Quick exercise: Evaluate the following string

In [15]:
s5 = 'ก๋วยจั๊บ'

A) How long is this string?

In [16]:
# Your answer
len(s5)

8

B) Using strings slicing, get the expression จั๊บ

In [17]:
# Your answer
s5[4:]

'จั๊บ'

C) Slice the same string to get the expression จั๊บ and store them as a new variable.

In [18]:
# Your answer
s6 = s5[4:]
print(s6)

จั๊บ

D) Slice the new string variable to get only ไม้ตรี

In [19]:
# You answer
s6[2:3]

'๊'

#### 3. Modifying strings
Now, we are working with an untidy string

In [20]:
untidy = '   HEELO, World! This is computer science course?'
print(untidy)

   HEELO, World! This is computer science course?

Let's assign them into a new variable to maintain the original message.

In [21]:
# Danger zone! copy() method doesn't work with strings
untidy_cpy = untidy.copy()

AttributeError: 'str' object has no attribute 'copy'

In [ ]:
# Instead, we do this
untidy_cpy = untidy

3.1 Remove any whitespace from the beginning or the end

In [ ]:
# strip() method
untidy_cpy = untidy_cpy.strip()
print(untidy_cpy)

HEELO, World! This is computer science course?

3.2 Upper / Lower case

In [ ]:
# upper() method
untidy_cpy = untidy_cpy.upper()
print(untidy_cpy)

HEELO, WORLD! THIS IS COMPUTER SCIENCE COURSE?

In [ ]:
# lower() methid
untidy_cpy = untidy_cpy.lower()
print(untidy_cpy)

heelo, world! this is computer science course?

3.3 Replace

In [ ]:
# Fix Hello with replace()
untidy_cpy = untidy_cpy.replace('el' , 'll')
print(untidy_cpy)

# Fix question mark with replace ()
untidy_cpy = untidy_cpy.replace('?' , '.')
print(untidy_cpy)

hello, world! this is computer science course?
hello, world! this is computer science course.

3.4 Split - This will return as a list

In [ ]:
# Split a strinf with split()
splitted = untidy_cpy.split(',')

print(type(splitted))
print(splitted)

3.5 Concatenate strings

In [ ]:
# Concatenate strings
h = 'hello'
w = 'world'

greeting = h+"_"+w

print(h+w)
print(h+" "+w)
print(greeting)

helloworld
hello world
hello_world

Nice to know! You can do everything at once. Process begins from left to right

In [22]:
# Without split
tidy = untidy.strip().lower().replace('el', 'll').replace('?', '.')
print(tidy)

hello, world! this is computer science course.

Working with split(), be aware of the sequece.

In [ ]:
# You can't do this - bacause you will get a list at the early step. 
tidy = untidy.split(",").strip().lower().replace('el', 'll').replace('?', '.')
print(tidy)

NameError: name 'untidy' is not defined

In [23]:
# But you can do this - split them at last
tidy = untidy.strip().lower().replace('el', 'll').replace('?', '.').split(",")
print(tidy)

['hello', ' world! this is computer science course.']

Quick exercise: Let's get the proper product variant information from the following string. <br>
The final result should look like this: <br>
<br>
['tablet', 'black', '128gb']

In [ ]:
product = 'tabelt BLACK 128GB  '

In [ ]:
# Your answer
product.strip().lower().replace('el', 'le').split(" ")

['tablet', 'black', '128gb']

A bit more challenging (try it at home): Now let's maintain the memory unit to be the capital 'GB'. You may use slicing and contenating methods to complete the task. <br>
The final result should look like this: <br>
<br>
['tablet', 'black', '128GB']

In [ ]:
# Your answer
product_sep = product.strip().lower().replace('el','le').replace('gb','GB').split(' ')
product_sep

['tablet', 'black', '128GB']

In [ ]:
prod_split = product.strip().lower().replace("el", "le").split(" ")
prod_split[2] = prod_split[2].upper()
print(prod_split)

['tablet', 'black', '128GB']

#### 4. Escape characters
If you try to run the below code block, it will complaint a systax error

In [24]:
greeting = 'Hi, my name is 'Paula''

SyntaxError: invalid syntax (3091736553.py, line 1)

To solve this, we use the escape character \" to avoid the error

In [25]:
greeting = 'Hi, my name is \'Paula\' '
print(greeting)

Hi, my name is 'Paula'

 Escape characters are also used in other cases
 - \t for tab
 - \n for new lines

In [26]:
multi = '\tIndentation\nNewline 1 without indentation\n\tNewline 2 with indentation'
print(multi)

	Indentation
Newline 1 without indentation
	Newline 2 with indentation

To get rid of these escape charaters, we can use replace to replace them

In [ ]:
multi_c = multi.replace('\n',' ').replace('\t', ' ').strip()
multi_c

'Indentation Newline 1 without indentation  Newline 2 with indentation'

Exercise: Do you remember a multiline string? Can you try to put everything into a single line?

In [ ]:
multi_txt = """This is a multiline string.
To make this becomes a single line string,
you need to find the escape character
and get rid of it."""
multi_txt

'This is a multiline string.\nTo make this becomes a single line string,\nyou need to find the escape character\nand get rid of it.'

In [ ]:
# You answer
single = multi_txt.replace('\n',' ')
single

'This is a multiline string. To make this becomes a single line string, you need to find the escape character and get rid of it.'

#### 5. Strings formatting
Let's try this example

In [27]:
# Error, string cannot concatenate with integer
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Alternatively, this works
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))
print("OR")
print(f'My name is John, and I am {age}')

My name is John, and I am 36
OR
My name is John, and I am 36

In [ ]:
# Multiple formatting
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
# Multiple formatting with index
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### STRIP

In [ ]:
txt = "......Python,,,,#"

x = txt.strip(".,#")

print(x)

Python